@model IEnumerable<Comment>
@using FoodSocial.Models;
@foreach (Comment CM in Model)
{
    <div style="padding:5px;">
        <img width="50" height="50" style="float:left; margin-right:5px;" src="//graph.facebook.com/@CM.idNguoiViet/picture" />
        <div style="width:100%;padding:5px" align="left">
            <b style="color:#10c302;font-size:14px">@CM.tenNguoiViet</b> <br />
            <span style="font-size:12px;color:#808080">@CM.thoiGianViet.ToShortDateString()</span>
            <div>@Html.Raw(CM.noiDung)</div>
        </div>
    </div>
    <hr style="margin:2px;" />
}
<script>
    document.getElementById("soBL_@ViewBag.idBaiViet").innerText = @Model.Count() + " Comment";
</script>